<!-- error page and button click to index -->

 <%- include('./partials/header') %>

 <div class="container mt-5 text-center">
   <h1 style="font-size: 4rem;">🚫 404</h1>
   <h2 class="text-danger">ไม่พบหน้านี้ในระบบ</h2>
   <p class="mb-4"><%= message %></p>
   <a href="/" class="btn btn-outline-primary">🔙 กลับหน้าหลัก</a>
 </div>
 
 <%- include('./partials/footer') %>
<