<!-- กำลังปรับปรุงหน้าเพจนี้ -->
<%- include('partials/header') %>
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow rounded-4">
        <div class="card-body p-5">
          
            <h2 class="mb-4 text-center text-primary">
                <i class="bi bi-card-list me-2"></i>อยู่ระหว่างการปรับปรุง
            </h2>

            <p class="text-center">เรากำลังทำการปรับปรุงหน้าเพจนี้เพื่อให้บริการที่ดียิ่งขึ้น</p>

          <div class="text-center mt-4">
            <a href="/auth/register" class="btn btn-primary w-100">
              <i class="bi bi-arrow-right-circle me-1"></i>สมัครสมาชิกเพื่อเริ่มต้น
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') %>