<%- include('partials/header') %>
<!-- requireLevel page and back to dashboard -->
 <div class="container mt-4 text-center">
  <h3 class="mt-4">คุณไม่มีสิทธิ์เข้าถึงหน้านี้</h3>
  <p>กรุณาติดต่อผู้ดูแลระบบ</p>
  <!-- error icon -->
  <div class="mb-3 d-flex justify-content-center">
    <i class="bi bi-exclamation-circle display-4 text-danger mb-3"></i>
  </div>
  <a href="/dashboard" class="btn btn-primary">กลับหน้าหลัก</a>
</div>

<%- include('partials/footer')  %>