<%- include('../partials/header') %>
<div class="container py-5">
  <div class="text-center">
    <h1 class="display-5 text-danger">
        <i class="bi bi-exclamation-triangle-fill"></i> ขออภัย !
    </h1>
    <p class="lead">คุณไม่มีสิทธิ์เข้าถึงหน้านี้</p>
    <a href="/" class="btn btn-outline-primary mt-3">กลับหน้าหลัก</a>
  </div>
</div>
<%- include('../partials/footer') %>
